<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_I_S_ShortProductName_S_Manager" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8098/_S_ShortProductName_S_Service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_I_S_ShortProductName_S_Manager"
                contract="_S_ShortProductName_S_Service.I_S_ShortProductName_S_Manager"
                name="WSHttpBinding_I_S_ShortProductName_S_Manager">
                <identity>
                    <userPrincipalName value="eta410@deta410.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>