<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_AutoMapper_dll_132835183_WixComponent" Guid="A0B27B88-DCB7-42E3-9CD0-3892C422D94B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_133720541_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2061715738_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AutoMapper_dll_316367408_WixFile" Name="AutoMapper.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\AutoMapper.dll" />
      </Component>
      <Component Id="Id_Castle_Core_dll_1902305354_WixComponent" Guid="5B444412-D642-4A35-8FAB-FB56AD7CA828" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2063947071_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_366141375_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_257361048_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Facilities_WcfIntegration_dll_428172517_WixComponent" Guid="EB62BB3B-5941-4E2A-840E-CFC2CBB91669" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1180681590_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_162161031_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Facilities_WcfIntegration_dll_126491295_WixFile" Name="Castle.Facilities.WcfIntegration.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Castle.Facilities.WcfIntegration.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_717074190_WixComponent" Guid="5E644A82-31F2-4D5D-BD25-E53A5C2D4254" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1382464203_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_330990609_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_114202534_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_1159649794_WixComponent" Guid="10EF92CA-C8D9-44E0-B532-82DF720FC87C" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1105260070_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1372856127_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_2084465024_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_334930092_WixComponent" Guid="1CD779C8-F802-4308-874D-DF646428C03E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_436803637_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_689111374_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_2106941319_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net208_dll_673520890_WixComponent" Guid="E39A6F7C-7523-4B83-9FCA-90E9C2F7930C" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_293265875_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_558179517_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net208_dll_1754812269_WixFile" Name="Common.Logging.Log4Net208.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.Log4Net208.dll" />
      </Component>
      <Component Id="Id_CommonServiceLocator_dll_1406514710_WixComponent" Guid="D60C7A64-0CE8-4FF2-B466-D51A03A9A264" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_470862193_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1907298862_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_CommonServiceLocator_dll_1731992831_WixFile" Name="CommonServiceLocator.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\CommonServiceLocator.dll" />
      </Component>
      <Component Id="Id_GalaSoft_MvvmLight_dll_1745136354_WixComponent" Guid="FF2CC595-BC9B-44DB-AD9C-1D9D38AC3519" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2059189409_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_911835621_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_GalaSoft_MvvmLight_dll_1992066280_WixFile" Name="GalaSoft.MvvmLight.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\GalaSoft.MvvmLight.dll" />
      </Component>
      <Component Id="Id_GalaSoft_MvvmLight_Extras_dll_142385116_WixComponent" Guid="E35FCADB-68EB-4812-94F1-A51B8AC75498" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_330341367_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1954302814_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_GalaSoft_MvvmLight_Extras_dll_1050809805_WixFile" Name="GalaSoft.MvvmLight.Extras.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\GalaSoft.MvvmLight.Extras.dll" />
      </Component>
      <Component Id="Id_GalaSoft_MvvmLight_Platform_dll_279797813_WixComponent" Guid="426FA7FD-C7D7-405B-9B6D-60C26B0E42B4" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_920228451_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2098240919_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_GalaSoft_MvvmLight_Platform_dll_2114833761_WixFile" Name="GalaSoft.MvvmLight.Platform.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\GalaSoft.MvvmLight.Platform.dll" />
      </Component>
      <Component Id="Id_log4net_dll_73297132_WixComponent" Guid="60556B12-D9B4-4276-99F0-5622D32FEAF3" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1958810249_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_424362974_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_129794031_WixFile" Name="log4net.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_965851042_WixComponent" Guid="04F9A3C8-2719-4905-899C-D20B9EB1A41F" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1851148775_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_267839450_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_1323664197_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_1010023338_WixComponent" Guid="84C59609-CED6-4581-BC51-157E38BCFBF9" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_858934224_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1339294957_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_1843515193_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Id_System_Windows_Interactivity_dll_1592092814_WixComponent" Guid="DD7C8BC4-0C78-44ED-8AB9-1CA26A4C712B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2102258066_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1790330165_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_System_Windows_Interactivity_dll_1609039479_WixFile" Name="System.Windows.Interactivity.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="Id__S_ServiceContractsProjectName_S_dll_1505767554_WixComponent" Guid="9DDA1EC4-7E73-4D78-BC0F-05777467E710" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_758812753_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_998329985_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id__S_ServiceContractsProjectName_S_dll_2104793971_WixFile" Name="_S_ServiceContractsProjectName_S_.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\_S_ServiceContractsProjectName_S_.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1420866375_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_577651847_WixComponent" Guid="7C5A4880-410A-4D61-89C5-4D0C997DBC85" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_528838588_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_805368428_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_470628582_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_486407976_WixComponent" Guid="297E4759-5DE6-4231-AD05-F9B83C6A9411" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2119301065_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_829308427_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_1298440903_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_322046322_WixComponent" Guid="3E58BD34-1E82-464E-BA5D-27398B093806" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1804667211_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1562185288_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_486046365_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_721761260_WixComponent" Guid="9F2308CD-0F67-437B-AE68-2C94B4544988" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2033644187_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_862194288_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_2016386548_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_428385486_WixComponent" Guid="DD57E9D9-99F2-4655-9B91-5F8D2D78C3F1" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_788961227_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1702849582_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_203022743_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_log4net_dll_583634665_WixComponent" Guid="BF48CDC8-14E9-4F04-93D3-50B839ACFF73" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_721969493_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_886202130_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_719894452_WixFile" Name="log4net.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_1215804075_WixComponent" Guid="178032D3-AF8F-4C47-B415-19AB3F338C06" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_399973466_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_187610697_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_687494849_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_345263335_WixComponent" Guid="BF305B5F-57B8-429F-AF53-B574FDE9F419" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1692525898_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1668468707_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_2069382113_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_2140930595_WixComponent" Guid="47BB2997-DE84-479A-A6BB-8CCE05044631" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_693967386_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1643128932_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_1429971661_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_1766478193_WixComponent" Guid="576C1AA5-3218-40F4-B334-96F7F17CF775" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1806649096_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_479443066_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_1879331357_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_1586014670_WixComponent" Guid="6B5DBD0C-1EAC-4F76-945B-021FDE07E8FA" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_25223294_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_687977016_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_1201750660_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_1924593316_WixComponent" Guid="F23AFB6A-077F-44EC-A862-C6E6339ED4FB" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1357468828_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_870331554_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_68613879_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_928135877_WixComponent" Guid="7C5D6F50-BDDB-48C0-8F41-6D4B713F9484" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1740136578_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1077382068_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_2117335173_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_1442964050_WixComponent" Guid="C528D6EC-F0D5-4326-8B7A-69364B8F1D72" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1901771228_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_837231710_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_2003166001_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_1790120105_WixComponent" Guid="9213EB20-E78F-40EF-9C61-0FE1F96A03BE" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_85473976_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1402308154_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_86434510_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1931690368_WixComponent" Guid="EF0EA1ED-29FF-4E50-981F-B029DEAC14DC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_141813578_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_953177568_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_777004071_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_136198504_WixComponent" Guid="FF3A0BC7-E48D-4618-9E0D-95342AFDEAA4" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1640286822_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_492599417_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_27793874_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_390515255_WixComponent" Guid="2B254F12-C4C5-41ED-A5A5-B81FDA473C3C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1579706274_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_249908355_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_769220037_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_AutoMapper_dll_132835183_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_1902305354_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_WcfIntegration_dll_428172517_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_717074190_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1159649794_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_334930092_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net208_dll_673520890_WixComponent" />
      <ComponentRef Id="Id_CommonServiceLocator_dll_1406514710_WixComponent" />
      <ComponentRef Id="Id_GalaSoft_MvvmLight_dll_1745136354_WixComponent" />
      <ComponentRef Id="Id_GalaSoft_MvvmLight_Extras_dll_142385116_WixComponent" />
      <ComponentRef Id="Id_GalaSoft_MvvmLight_Platform_dll_279797813_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_73297132_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_965851042_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_1010023338_WixComponent" />
      <ComponentRef Id="Id_System_Windows_Interactivity_dll_1592092814_WixComponent" />
      <ComponentRef Id="Id__S_ServiceContractsProjectName_S_dll_1505767554_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_577651847_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_486407976_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_322046322_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_721761260_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_428385486_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_583634665_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_1215804075_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_345263335_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_2140930595_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_1766478193_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_1586014670_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_1924593316_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_928135877_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_1442964050_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_1790120105_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1931690368_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_136198504_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_390515255_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>