<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_Castle_Core_dll_1873613954_WixComponent" Guid="94CDA563-4F3D-4582-A89A-73EC813AB9A0" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_169071440_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_84558958_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_509106553_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_592202514_WixComponent" Guid="E0EB8693-FD6F-4215-90FA-57E5889980A1" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1643481274_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1088450647_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_1406489905_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_115049399_WixComponent" Guid="CFCA136D-7F42-447D-AC05-BD4CC40C6474" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1663214832_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1584598983_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_1249223943_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_1282952788_WixComponent" Guid="1E8F27D4-FFBC-4400-B5FF-1F1117AD1B66" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_114473216_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2065652867_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_1471911753_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1213_dll_1118625642_WixComponent" Guid="0EA60DA8-A4BF-4089-B150-E8BE0A854F9E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_847960891_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_360475144_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1213_dll_219273378_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.Log4Net1213.dll" />
      </Component>
      <Component Id="Id_log4net_dll_1038728023_WixComponent" Guid="6F3EACEE-78E1-45C8-9534-6537CF87C5EE" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1053284937_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1450645887_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_1206152043_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_567055267_WixComponent" Guid="5E39E9A2-5E12-4B95-857C-CEE639D0A4BE" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1327255869_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2071876303_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_1729478670_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_902313690_WixComponent" Guid="F57D9C0D-DC1F-47E8-B4D4-9A1FAB64563B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2018667398_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2136957868_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_228146747_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Id__S_ServiceContractsProjectName_S_dll_1774739979_WixComponent" Guid="EF0C9FCF-F997-47A9-A708-A039FDC09552" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_84595187_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_110179749_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id__S_ServiceContractsProjectName_S_dll_2075189812_WixFile" Name="_S_ServiceContractsProjectName_S_.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\_S_ServiceContractsProjectName_S_.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_948961715_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_129178511_WixComponent" Guid="D2EAAF6B-1888-400D-AC50-5984BE00FFF1" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1384088199_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1665742408_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_528732013_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Facilities_Logging_dll_1608756422_WixComponent" Guid="478DAD8B-C766-472B-9771-77D3A6E0E856" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_138686094_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1613902702_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Facilities_Logging_dll_1110252954_WixFile" Name="Castle.Facilities.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Facilities.Logging.dll" />
        </Component>
        <Component Id="Id_Castle_Services_Logging_Log4netIntegrati_1837214558_WixComponent" Guid="ED097D61-6DDC-40E4-B112-D9D30D6777AB" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_636774240_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1581950438_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Services_Logging_Log4netIntegrati_1044312043_WixFile" Name="Castle.Services.Logging.Log4netIntegration.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Services.Logging.Log4netIntegration.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_823048679_WixComponent" Guid="5163E789-9AC7-40C3-9A2A-EE4E05D92455" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_127168114_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_479004445_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_1901061777_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_367959944_WixComponent" Guid="5D70F89E-8A79-4A0F-A118-6EE6C61A3816" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_773675690_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_820329017_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_865909200_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_pdb_1025890562_WixComponent" Guid="3401605C-1668-4111-9219-D0349CBE8022" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2089534933_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1412430292_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_pdb_1719088618_WixFile" Name="Common.Logging.Core.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Core.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_dll_1506455624_WixComponent" Guid="A5CD729A-7CFC-4FE8-B0BA-4EDB0451BEB4" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_504176215_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_243865648_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_1673740611_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1210_dll_1356452236_WixComponent" Guid="467075B0-63FD-421C-B98C-71E098288859" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1621967611_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1198357601_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1210_dll_4293467_WixFile" Name="Common.Logging.Log4Net1210.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Log4Net1210.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1210_pdb_2137946702_WixComponent" Guid="79DE0CEF-7D96-4AD4-B77B-D8BB44B78A35" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_522950038_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_989447131_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1210_pdb_1611356339_WixFile" Name="Common.Logging.Log4Net1210.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Log4Net1210.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_pdb_842216383_WixComponent" Guid="6902023F-A742-481C-83CC-606C95F90CCF" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1838025012_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1577455248_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_pdb_914598843_WixFile" Name="Common.Logging.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.pdb" />
        </Component>
        <Component Id="Id_log4net_dll_1984226832_WixComponent" Guid="A274EF8B-DF74-440A-BEA2-D9ABB0FF4FB0" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_95899089_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_877324356_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_690481629_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_489925865_WixComponent" Guid="F6D32AEF-21FF-4626-91E3-D9EF963C9868" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_685166627_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_79265011_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_1891499284_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_1657953423_WixComponent" Guid="B6E6DD02-0DC0-4886-B848-3D21DDF5839C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_474568617_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1406780035_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_1458403144_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_1437334379_WixComponent" Guid="24A8ED6D-FF62-4DF7-BA52-6EA1120F2B8E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1209280612_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2070554800_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_187127225_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_2119141554_WixComponent" Guid="ED45B40E-8126-443C-AB77-6E9444D65F38" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2094137437_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1169760036_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_1104580207_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_2042304093_WixComponent" Guid="E96F0565-0983-4D4B-B61E-82981647EAB2" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2087645738_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1901284365_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_215246947_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1585900286_WixComponent" Guid="153255A9-2BD1-4165-ABB0-EF6ABAC8A3FD" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1577656971_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1053848988_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_300098641_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_1285204630_WixComponent" Guid="3858B265-F81A-4F59-A48E-C0E4D517E8BE" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1015131753_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1058845394_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_677418579_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_1343704089_WixComponent" Guid="1167D150-B7A7-4E8A-965A-E1605D5C0B4C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2053213821_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1029166015_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_929991473_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_Castle_Core_dll_1873613954_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_592202514_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_115049399_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1282952788_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_1118625642_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1038728023_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_567055267_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_902313690_WixComponent" />
      <ComponentRef Id="Id__S_ServiceContractsProjectName_S_dll_1774739979_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_129178511_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_Logging_dll_1608756422_WixComponent" />
      <ComponentRef Id="Id_Castle_Services_Logging_Log4netIntegrati_1837214558_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_823048679_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_367959944_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_pdb_1025890562_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1506455624_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_dll_1356452236_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_pdb_2137946702_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_pdb_842216383_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1984226832_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_489925865_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1657953423_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_1437334379_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_2119141554_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_2042304093_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1585900286_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_1285204630_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_1343704089_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>