<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_Castle_Core_dll_758805068_WixComponent" Guid="0063DCDF-B36C-4733-95F3-082D7E7BFABE" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_512610185_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_550045324_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_922202363_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_2063150329_WixComponent" Guid="DA582E75-82B2-4686-9135-C7A69315F2D2" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_505285968_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_569304324_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_1348039521_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_709199649_WixComponent" Guid="286FBA0B-8861-44AC-8407-8461E36E9820" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_763218261_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_303291600_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_468353059_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_913196002_WixComponent" Guid="FCAE8AF8-CB7A-487E-823E-FCC21CCDC4A4" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_458286898_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1869815305_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_451769962_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1213_dll_2036913369_WixComponent" Guid="F8D35697-B833-46A2-9CE6-87E5E63BC824" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_719564201_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1492132611_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1213_dll_1947722423_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.Log4Net1213.dll" />
      </Component>
      <Component Id="Id_log4net_dll_1922463793_WixComponent" Guid="F089CC79-C65C-48D5-B2FE-75D20BFD0BE1" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1503426858_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1668468930_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_464711347_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_1263294553_WixComponent" Guid="3650270F-44C9-429B-AEEA-8E6ED3D9583D" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_648044855_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1843311746_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_1864144395_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_2073405783_WixComponent" Guid="AE32848F-8B72-4C00-B235-22FABB5C3963" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1852125979_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_950187254_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_1417132589_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_2065076555_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_412934361_WixComponent" Guid="AA861F1B-2AF5-43C9-8EA1-5E736DB1C1A5" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1628645727_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_862292757_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_361983931_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Facilities_Logging_dll_1612810498_WixComponent" Guid="C59B2538-271C-4E9E-AD0F-5CCB618CDD15" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_91630528_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_114478389_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Facilities_Logging_dll_2055955883_WixFile" Name="Castle.Facilities.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Facilities.Logging.dll" />
        </Component>
        <Component Id="Id_Castle_Services_Logging_Log4netIntegrati_1697101387_WixComponent" Guid="B7A7F6A8-766A-432C-B26A-8BEB8627818D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2110255027_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_711246114_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Services_Logging_Log4netIntegrati_1056864389_WixFile" Name="Castle.Services.Logging.Log4netIntegration.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Services.Logging.Log4netIntegration.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_462180677_WixComponent" Guid="0885673A-E648-405D-83E5-546D105814A6" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1733542093_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1789343484_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_1950268841_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_30598987_WixComponent" Guid="2D59BA89-19D6-4D88-8AEF-5D584A170F4D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1492663283_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_330308057_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_880778442_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_pdb_869346996_WixComponent" Guid="A3667067-17CD-42E4-91C0-89FFB67B7D41" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1478298300_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1402861857_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_pdb_991624902_WixFile" Name="Common.Logging.Core.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Core.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_dll_85333977_WixComponent" Guid="DF0EC054-01D8-4274-A49C-B786BA9B2299" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1806391457_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1415105474_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_809457869_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1210_dll_852643576_WixComponent" Guid="DBB2BC39-CB50-4A44-B080-CCFB59F441C9" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1422117385_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1004557317_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1210_dll_1960514654_WixFile" Name="Common.Logging.Log4Net1210.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Log4Net1210.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1210_pdb_1033642658_WixComponent" Guid="FF27D7F3-22D6-4CE9-BEF0-B42FC0C54F06" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_550760151_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_500261641_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1210_pdb_977124818_WixFile" Name="Common.Logging.Log4Net1210.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Log4Net1210.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_pdb_1007522548_WixComponent" Guid="4E614D26-4894-4C48-A814-60A8595B0B9C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_89786031_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_424102871_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_pdb_627933673_WixFile" Name="Common.Logging.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.pdb" />
        </Component>
        <Component Id="Id_log4net_dll_1377654222_WixComponent" Guid="2D031D59-3268-4F9E-910C-CCD83EC28E96" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2039250187_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_225362406_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_1540655478_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_957222816_WixComponent" Guid="CA0FED58-AB7C-4462-8BDE-1FB9FD375D86" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1555330605_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_801113876_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_1061986409_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_53968262_WixComponent" Guid="5F28D9FA-EDA3-4E42-B414-1C2F774D987A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2061359201_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2042806796_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_359462696_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_619879197_WixComponent" Guid="86EA675A-716F-41EC-B183-2694A7E4A797" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_536354147_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1195729559_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_1082119708_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_225783870_WixComponent" Guid="A679AF58-5F0F-4E98-BF39-F5DA420FF760" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2018151502_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_276649954_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_1953902688_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_824008701_WixComponent" Guid="922865B1-4EEA-468B-90A0-404BEB7A3527" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1452504167_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1203312307_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_274984002_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1105697710_WixComponent" Guid="D478BBB2-2022-4259-A319-C93BD8A41685" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_898215107_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_23221731_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_2058904173_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_1233280452_WixComponent" Guid="DD083DFE-D931-44B7-8540-A94A7B660928" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_812218666_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_942746293_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_2088296603_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_1068560412_WixComponent" Guid="92DDBDBA-EEAE-41FF-9E69-7D8985C21A5C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1849858031_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1650607867_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_977580456_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_Castle_Core_dll_758805068_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_2063150329_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_709199649_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_913196002_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_2036913369_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1922463793_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1263294553_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_2073405783_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_412934361_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_Logging_dll_1612810498_WixComponent" />
      <ComponentRef Id="Id_Castle_Services_Logging_Log4netIntegrati_1697101387_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_462180677_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_30598987_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_pdb_869346996_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_85333977_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_dll_852643576_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_pdb_1033642658_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_pdb_1007522548_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1377654222_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_957222816_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_53968262_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_619879197_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_225783870_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_824008701_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1105697710_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_1233280452_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_1068560412_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>