<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_AutoMapper_dll_2012643656_WixComponent" Guid="C8B4BDE2-6E6F-467D-998E-83A3404DF4C2" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1421485374_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1102462646_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AutoMapper_dll_180559229_WixFile" Name="AutoMapper.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\AutoMapper.dll" />
      </Component>
      <Component Id="Id_Castle_Core_dll_1258990423_WixComponent" Guid="3A39F493-0707-4BD3-8E12-B72D1861988D" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1609251994_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_217086407_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_1144900037_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_1413584494_WixComponent" Guid="7FC5DAE6-5238-4859-A2D6-5449E9B9F64A" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_399998315_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_161823187_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_1344098719_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_1621385052_WixComponent" Guid="8F2A2E1B-54E8-46F5-8118-322DC89333B8" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1209669847_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1676394459_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_1620266513_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_1206370288_WixComponent" Guid="48235DC8-238D-4EF4-A404-2588647872BC" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1020722046_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_298461598_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_480296406_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1213_dll_2130125478_WixComponent" Guid="0D783DA8-3E85-4BF0-9E59-D2AEB95C5A03" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_206659762_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_253774015_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1213_dll_1926942836_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.Log4Net1213.dll" />
      </Component>
      <Component Id="Id_log4net_dll_2130841747_WixComponent" Guid="3C308FE8-D0C8-43E3-AC4E-F3BD878011E7" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_554408783_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_775943187_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_314499208_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_992818666_WixComponent" Guid="4EE70EE1-D20C-4B02-BE33-2D233A175988" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1225199224_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_263544825_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_1454481181_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_25482156_WixComponent" Guid="41D0586B-0781-475E-90BA-72C9BA51FA3B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_735207022_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1070183756_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_221655716_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1634786585_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_390714627_WixComponent" Guid="C89C9004-74F7-4A4D-8593-997B11425FFB" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1268615073_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1328908858_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_2063109603_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_1542880549_WixComponent" Guid="F7B5263F-4601-4908-BAF9-F2B5273E5F2D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_31953387_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_825294121_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_811406811_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_750163608_WixComponent" Guid="4F921732-A214-493F-8FF4-2E0476ABC7F2" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1522807277_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_651046410_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_906850860_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_769788657_WixComponent" Guid="3DAFE2C3-BEE5-47D3-B97B-FBC594B1B567" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1468361440_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_121443115_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_1857008197_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_1050594744_WixComponent" Guid="949F8AC8-5813-4674-AB3C-889150D316F8" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_15709359_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1805983894_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_1167711359_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_log4net_dll_1323003457_WixComponent" Guid="13DE3C8A-DB72-4E9C-B1CB-138D3F100336" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_197201129_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_704581640_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_833308807_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_2050070846_WixComponent" Guid="8A528647-7112-466A-B773-BCE8086D3819" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_152081371_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_188385270_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_136453490_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_854825653_WixComponent" Guid="E2513F51-42DE-4686-9BEE-56433B920727" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1318616563_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_886178030_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_139486091_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_1454738743_WixComponent" Guid="E20336C4-8ED9-40E3-9F4B-D2BFE0AEE446" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2132963575_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_815655661_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_1899590620_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_1117036387_WixComponent" Guid="F162C610-C77F-4198-9DCF-1A37360EC635" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_564670450_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_587244929_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_174706375_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_1575963541_WixComponent" Guid="C103B05B-4808-4D9A-B1B3-05E4A90EED46" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1115536025_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1380678139_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_1179085153_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_124896777_WixComponent" Guid="3EAF3247-FA36-4A2E-901D-4BAB29C43E4E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1555131995_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_223030009_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_1904321431_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_142101710_WixComponent" Guid="50FFD412-C1DE-4CEA-B94E-7A8254D19CBD" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1744956631_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1122371059_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_719497663_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_1411683509_WixComponent" Guid="EAB4F3FA-F39A-431D-BCC7-1178F54BF6B5" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1201428004_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_311783128_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_193513498_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_564033433_WixComponent" Guid="95AD0923-DE3B-4B14-9EB1-FCC4E9BEFD12" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_495600051_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_13038757_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_1390799178_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1991051764_WixComponent" Guid="392F2EEC-EA28-4B7D-8A14-F952618BDA58" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_688840631_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2104064805_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_1579030692_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_636629247_WixComponent" Guid="88AD6234-2BF2-460A-BD60-7CF5EE18457A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_511560319_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1599595764_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_784308729_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_652705779_WixComponent" Guid="1D29E143-2F41-4C0A-B5C2-95571DEB9364" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_369336142_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_739971810_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_485924294_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_AutoMapper_dll_2012643656_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_1258990423_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1413584494_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1621385052_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1206370288_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_2130125478_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_2130841747_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_992818666_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_25482156_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_390714627_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1542880549_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_750163608_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_769788657_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_1050594744_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1323003457_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_2050070846_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_854825653_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_1454738743_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_1117036387_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_1575963541_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_124896777_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_142101710_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_1411683509_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_564033433_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1991051764_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_636629247_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_652705779_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>