<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_AutoMapper_dll_526920785_WixComponent" Guid="521803C8-2358-497A-AD64-EDC74DC15BEA" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1411654099_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1183829800_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AutoMapper_dll_785546221_WixFile" Name="AutoMapper.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\AutoMapper.dll" />
      </Component>
      <Component Id="Id_Castle_Core_dll_1118988661_WixComponent" Guid="DC98F2CE-D4AD-48DF-A2DB-BB55D2F77F37" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_190907616_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_317340984_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_1008020136_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_1505121859_WixComponent" Guid="797F9F18-851F-434F-90F2-9F8E209EC30C" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1487772418_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1908171356_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_1784421561_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_1728381799_WixComponent" Guid="894E117E-6CEE-4344-87CA-F84EA1D2912F" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_664455399_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_157507670_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_1085354407_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_933638076_WixComponent" Guid="1F9DD479-2716-474E-A61F-6E52070C2FD1" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_118404623_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_322577977_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_1094615333_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1213_dll_870560605_WixComponent" Guid="14AB1552-D932-4610-B41D-B2E387571110" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1371035415_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1912270658_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1213_dll_811502776_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Common.Logging.Log4Net1213.dll" />
      </Component>
      <Component Id="Id_GalaSoft_MvvmLight_dll_806874678_WixComponent" Guid="AEF41C5E-8BFF-45D8-9D82-C0FF5A3D1EC3" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1809397604_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_86870706_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_GalaSoft_MvvmLight_dll_1341987587_WixFile" Name="GalaSoft.MvvmLight.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\GalaSoft.MvvmLight.dll" />
      </Component>
      <Component Id="Id_GalaSoft_MvvmLight_Extras_dll_3185110_WixComponent" Guid="57B5E825-1CDE-499F-AA90-A9691D2C43F1" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_340723710_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1588617577_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_GalaSoft_MvvmLight_Extras_dll_1932010522_WixFile" Name="GalaSoft.MvvmLight.Extras.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\GalaSoft.MvvmLight.Extras.dll" />
      </Component>
      <Component Id="Id_GalaSoft_MvvmLight_Platform_dll_347835146_WixComponent" Guid="D631A478-5AE6-4B7A-83C0-C765CA4B06BE" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1794542426_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2009199982_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_GalaSoft_MvvmLight_Platform_dll_703865237_WixFile" Name="GalaSoft.MvvmLight.Platform.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\GalaSoft.MvvmLight.Platform.dll" />
      </Component>
      <Component Id="Id_log4net_dll_652249031_WixComponent" Guid="30DF9081-BDFE-498B-8A3A-95E850716001" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1482052608_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2029349171_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_1459899683_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_Microsoft_Practices_ServiceLocation_dll_1705016501_WixComponent" Guid="981333B8-5273-4EE0-B5E2-8042DAA20FB3" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1449194297_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_431374492_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Microsoft_Practices_ServiceLocation_dll_1489889177_WixFile" Name="Microsoft.Practices.ServiceLocation.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Microsoft.Practices.ServiceLocation.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_2001366579_WixComponent" Guid="22D628C2-D23E-4DCE-B6DE-97ABD465A266" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_934296350_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1774762109_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_774455349_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_1556831222_WixComponent" Guid="E5EAF845-453B-4EE8-9AB3-623E0557B69F" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1267719476_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1662614140_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_1692150508_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Id_System_Windows_Interactivity_dll_203875086_WixComponent" Guid="0D5A91CA-9AF7-4271-B8EB-4C1CDCB88DA6" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_546516361_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1861434455_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_System_Windows_Interactivity_dll_1303369017_WixFile" Name="System.Windows.Interactivity.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\System.Windows.Interactivity.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1646867088_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_372327024_WixComponent" Guid="C3272C76-55AB-4C8E-9C47-68D55A4FA97A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2126155190_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1457074704_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_104036910_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_1122837044_WixComponent" Guid="725E6B0B-4CBE-450F-8E55-B4C092D588DA" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1004835026_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1164398149_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_2046638488_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_2123644481_WixComponent" Guid="86A808A4-E29A-427F-9063-3DCEC31BDA0D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1436586415_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2081323020_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_802739064_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_1601126080_WixComponent" Guid="4FE9F54E-89B3-4060-AB97-D06042349128" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_433105376_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1599069115_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_236539099_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_1010161941_WixComponent" Guid="51EF9D09-4B72-4B67-A174-B39F0729E4C4" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1537082479_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1568849955_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_939660923_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_log4net_dll_422381481_WixComponent" Guid="88BB7A11-49DC-458D-B2FE-D2EB70A87344" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_957619844_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2020061975_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_34635495_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_1459899004_WixComponent" Guid="39F0FAC9-1063-4A81-93DF-1A745B40110A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1932640012_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_882949281_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_825593217_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_2043950716_WixComponent" Guid="E4440A58-67B7-4C93-9976-C85ECABD8500" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1728135436_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1948802432_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_2080591618_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_705830965_WixComponent" Guid="CF9BBAD7-E93D-4508-952F-260FFB3A9D8B" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1204481796_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_279922007_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_1503381065_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_572274467_WixComponent" Guid="D582611D-4149-4ADD-B98B-0B0B899FB356" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1355862773_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_582179457_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_444359271_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_1414459990_WixComponent" Guid="AD7B65D1-06CC-4B87-85B3-AF68C4E5182D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1590734336_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2025205745_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_1645193582_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_1840922736_WixComponent" Guid="D30B11F1-CA89-4603-8421-9F3850155509" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2119199932_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2103188789_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_834614100_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_63545025_WixComponent" Guid="41D53835-F81B-4F4D-909E-38BE0FA13E0A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1455611409_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1341196792_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_1156917529_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_292584500_WixComponent" Guid="CB4711E1-D92D-4E7F-866B-81FA7B8E453C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_363708094_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1224485607_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_1562190827_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_106093215_WixComponent" Guid="A43FB313-250E-4D7C-83F0-41FB8C44DA20" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1422439209_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_791621553_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_1337680679_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_121885745_WixComponent" Guid="3D8C1274-3B37-4794-AC14-D75610AC0304" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_338804932_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2687772_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_395509045_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_1635267630_WixComponent" Guid="B6F663C3-E5DB-4EFE-86EF-D65B935B4E58" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_731402_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_96908099_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_396644284_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_153183369_WixComponent" Guid="866BD98E-B8A7-48F3-821E-6588D80B680E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_95688050_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1811748279_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_1801782815_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Console Application\bin\Release\_S_ConsoleProjectName_S_\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_AutoMapper_dll_526920785_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_1118988661_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1505121859_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1728381799_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_933638076_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_870560605_WixComponent" />
      <ComponentRef Id="Id_GalaSoft_MvvmLight_dll_806874678_WixComponent" />
      <ComponentRef Id="Id_GalaSoft_MvvmLight_Extras_dll_3185110_WixComponent" />
      <ComponentRef Id="Id_GalaSoft_MvvmLight_Platform_dll_347835146_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_652249031_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Practices_ServiceLocation_dll_1705016501_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_2001366579_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_1556831222_WixComponent" />
      <ComponentRef Id="Id_System_Windows_Interactivity_dll_203875086_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_372327024_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1122837044_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_2123644481_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1601126080_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_1010161941_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_422381481_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_1459899004_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_2043950716_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_705830965_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_572274467_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_1414459990_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_1840922736_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_63545025_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_292584500_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_106093215_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_121885745_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_1635267630_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_153183369_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>