<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_AutoMapper_dll_1060204202_WixComponent" Guid="976EA1C1-A2B2-4663-84EE-34C0BBB2FD7C" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_239773238_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_425212692_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AutoMapper_dll_894584843_WixFile" Name="AutoMapper.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\AutoMapper.dll" />
      </Component>
      <Component Id="Id_Castle_Core_dll_119480481_WixComponent" Guid="788650D3-3520-44B9-B20D-1A2681254BBA" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_802549680_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_385585544_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_1557263972_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Facilities_WcfIntegration_dll_1636286810_WixComponent" Guid="D1D01CFB-7055-4F9A-86E2-4FCBC7625953" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_480797669_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_134507593_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Facilities_WcfIntegration_dll_1347205592_WixFile" Name="Castle.Facilities.WcfIntegration.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Castle.Facilities.WcfIntegration.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_267226337_WixComponent" Guid="7A488E1E-E1A1-43B3-8CCE-35FF2FB522D6" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1873458536_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1240010089_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_2039846544_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_1036577338_WixComponent" Guid="CB05FBF0-E4E2-490C-8EFC-1DDC1735527A" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_333362533_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_483196825_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_783857380_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_298840238_WixComponent" Guid="1C1AAC0A-E132-4F3A-AF1B-338B48279F73" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_138763890_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_826231266_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_1552057138_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1213_dll_354124021_WixComponent" Guid="4D40D199-D2A6-448F-B608-ACDE5DDB7B91" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1247752210_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_804302581_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1213_dll_1678811472_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Common.Logging.Log4Net1213.dll" />
      </Component>
      <Component Id="Id_log4net_dll_2041395297_WixComponent" Guid="4BE17B47-6029-4AD5-B362-D537F2C01570" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_819310514_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_448792233_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_1515421873_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_1833947229_WixComponent" Guid="FECE6A4F-6A0C-4721-96E0-BC5F06D56A14" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_430374037_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_654351652_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_93953229_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_414631266_WixComponent" Guid="F9DDAD8B-4B58-45E3-B12B-888CA910145B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1874336446_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_243658969_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_748123967_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1026600413_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_838328717_WixComponent" Guid="91F33025-9347-4F89-8970-660C099BED7B" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_514543738_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_612040584_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_1036680951_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_1594023176_WixComponent" Guid="FFE8BDC7-B4B0-47D1-BA8C-DD52E9F1858A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1061596772_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_191295958_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_1201234045_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_914332134_WixComponent" Guid="02AE3B21-9709-4F53-9A25-79B0E308C281" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1993309089_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_937168588_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_1535655008_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_1533495031_WixComponent" Guid="C5649E20-3C3E-4854-917D-83E754DB2914" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1789920803_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_921440312_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_1561025619_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_1020639201_WixComponent" Guid="49DA781F-D31A-44FB-8BB2-B82B05D6C77F" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_540460822_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1019211918_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_2145730746_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_log4net_dll_854257719_WixComponent" Guid="68C20F7E-8744-45B0-9AFD-BD2FBB92707A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1663352322_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_816976296_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_32005436_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_766569367_WixComponent" Guid="2195CB81-9C10-4C62-82B0-1DAB3CA5AA80" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1660742010_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1984335947_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_1219106884_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_1146056860_WixComponent" Guid="D3B57208-972A-439D-B16C-57A5F4DD51BA" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1625215278_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1309724539_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_89703564_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_1882556505_WixComponent" Guid="799BBC9B-6E19-4A5C-A98E-399F89D99B61" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1904740614_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1607995168_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_1771703799_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_214190682_WixComponent" Guid="1C91D152-461C-4B89-9154-252A9A5AAFAB" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_515376187_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_907584492_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_186155438_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_613006623_WixComponent" Guid="46F6B8D1-48E4-4FFC-8EE4-0EDEDA83D227" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_477577427_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1127063163_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_973485072_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_1659107292_WixComponent" Guid="F69BE7F1-7579-4647-8429-7A166809DE41" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2127250512_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_300452198_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_787936881_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_1880394987_WixComponent" Guid="0BA311B3-77A8-4B2C-A14C-C9C2122869C0" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_680411257_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1541475712_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_1333875624_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_1371930698_WixComponent" Guid="5A3FB5A2-4445-447E-A1C5-58396AE2891C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_749876868_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_172342694_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_1322460042_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_1845051089_WixComponent" Guid="0D2C9B90-5962-46E9-B66E-4F719D96BE2A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_580035148_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_270111584_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_2080764813_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1224744472_WixComponent" Guid="6DE9FC2A-F0BE-44FA-8A92-975632699205" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1119672721_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_55177185_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_1436600503_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_683584550_WixComponent" Guid="F6F53A51-D8FD-423D-A10B-50E78EC057D9" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_847465024_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1800582150_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_1776238064_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_181925635_WixComponent" Guid="7AE51CBA-2880-470F-9BD6-1C3E1C55E0DA" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1297220160_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1346834937_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_505263014_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_AutoMapper_dll_1060204202_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_119480481_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_WcfIntegration_dll_1636286810_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_267226337_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1036577338_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_298840238_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_354124021_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_2041395297_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1833947229_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_414631266_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_838328717_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1594023176_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_914332134_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1533495031_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_1020639201_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_854257719_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_766569367_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1146056860_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_1882556505_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_214190682_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_613006623_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_1659107292_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_1880394987_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_1371930698_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_1845051089_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1224744472_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_683584550_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_181925635_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>