<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_AutoMapper_dll_564442381_WixComponent" Guid="D92388FD-24BF-46C3-AD5F-BBF9EA734FF5" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_581290140_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_808809435_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AutoMapper_dll_1010461728_WixFile" Name="AutoMapper.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\AutoMapper.dll" />
      </Component>
      <Component Id="Id_Castle_Core_dll_575271464_WixComponent" Guid="793B868C-1222-4119-8580-ACC0F05FD190" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2033601774_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_614963253_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_1630758010_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Facilities_WcfIntegration_dll_1554798512_WixComponent" Guid="7F778FC0-0A89-4F48-9F59-5C10C5947061" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1368081975_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_891590403_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Facilities_WcfIntegration_dll_2117442135_WixFile" Name="Castle.Facilities.WcfIntegration.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\Castle.Facilities.WcfIntegration.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_471130201_WixComponent" Guid="3960D680-C9E1-480C-ABAE-91151609E8F8" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_663856858_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_773416769_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_871251064_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_1252333018_WixComponent" Guid="5D45E35E-8D23-48C1-80CA-541B0B8609A8" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1792764097_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1817250641_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_233667336_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_1549771943_WixComponent" Guid="9AD2DE95-C85C-4B73-95DE-F1B57C42A004" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1506136084_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_330326522_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_474814715_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net208_dll_731024739_WixComponent" Guid="835F2988-66E8-4B63-838A-2B14833A7C4C" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1063859803_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_580293765_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net208_dll_474690019_WixFile" Name="Common.Logging.Log4Net208.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\Common.Logging.Log4Net208.dll" />
      </Component>
      <Component Id="Id_GalaSoft_MvvmLight_dll_1171190995_WixComponent" Guid="AA7D1589-F8C2-4433-A4BC-E84ACFF48347" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1873271210_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1898630093_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_GalaSoft_MvvmLight_dll_939442661_WixFile" Name="GalaSoft.MvvmLight.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\GalaSoft.MvvmLight.dll" />
      </Component>
      <Component Id="Id_GalaSoft_MvvmLight_Platform_dll_1628036608_WixComponent" Guid="B0F4681E-9819-4D61-9778-A98C2ED38980" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1275114288_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1504056970_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_GalaSoft_MvvmLight_Platform_dll_1402935155_WixFile" Name="GalaSoft.MvvmLight.Platform.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\GalaSoft.MvvmLight.Platform.dll" />
      </Component>
      <Component Id="Id_log4net_dll_1717024236_WixComponent" Guid="9EA825E6-EAFE-428C-8D4C-7922B8D44BA4" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_672334491_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_562929870_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_2103379975_WixFile" Name="log4net.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_1811098922_WixComponent" Guid="D49049FA-52B1-4C54-83BF-8774E6B61650" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2092107599_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1154650547_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_1648623315_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_441592283_WixComponent" Guid="71ABECA6-C2DD-48DF-9307-25D0DF8B866B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_977525417_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_838042277_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_1520286477_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Id_System_Windows_Interactivity_dll_1166740027_WixComponent" Guid="DA5F5E0C-B550-421F-B1D8-E88BF9FF0F8E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1240736409_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_563366565_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_System_Windows_Interactivity_dll_357517339_WixFile" Name="System.Windows.Interactivity.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="Id_Topshelf_dll_2027691958_WixComponent" Guid="B3187084-C976-42B9-AD06-1F500E73471A" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1723169324_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1663247400_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Topshelf_dll_1205789944_WixFile" Name="Topshelf.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\Topshelf.dll" />
      </Component>
      <Component Id="Id_Topshelf_Log4Net_dll_250963618_WixComponent" Guid="244EBBC7-C0DF-45B0-B919-3C24E773C1B3" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_333994720_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_279436989_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Topshelf_Log4Net_dll_1658895308_WixFile" Name="Topshelf.Log4Net.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\Topshelf.Log4Net.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1453308009_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_140273234_WixComponent" Guid="0F4AE0B9-DAD9-4EEA-9B09-F9392BE5A176" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_459567015_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1829010949_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_1616935529_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_2099631389_WixComponent" Guid="8241DF8E-C472-4915-A12F-1E2BF8287721" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_489405527_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1343499560_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_1307283535_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_1517965261_WixComponent" Guid="C524B713-D531-4D10-97CE-194F210DD249" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1301710475_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_579998527_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_1229834227_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_1861354313_WixComponent" Guid="CF9D55D1-52B9-43AF-A8E7-1D040B87556D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_570052061_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1605147991_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_351485537_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_829186854_WixComponent" Guid="C20D6E13-34A3-45FC-8536-4E9866A4D8E0" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_33222432_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1900982969_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_225817526_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_log4net_dll_1207490935_WixComponent" Guid="FF5D8B85-94FE-44E0-8B0F-0722EFC2BE18" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1455433639_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2077938233_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_1309904645_WixFile" Name="log4net.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_1541112754_WixComponent" Guid="4B374C71-26CE-4684-A349-64F38BEA5372" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1059234350_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2052350931_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_1759350535_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_298267026_WixComponent" Guid="29D86A68-F6C1-493A-BBDE-023F766BF1EC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1151971537_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1383029516_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_392897502_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_1051518209_WixComponent" Guid="9CC86344-E63C-4201-A029-AADA419A6BAD" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_650071966_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1670825688_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_1632540584_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_1473123245_WixComponent" Guid="EC81861C-2124-466D-A047-4F534C062B1F" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_31687786_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_489444541_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_488119890_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_1642026364_WixComponent" Guid="7F9412B0-86C2-49E3-A8F5-9B176C16CDC2" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_213002942_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1796258413_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_2086509581_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_2130851685_WixComponent" Guid="019D62B3-35DC-4DF0-8BCD-308EF7375214" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1275166759_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_166337645_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_1153117263_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_58099409_WixComponent" Guid="DAB13A75-6AE3-4D2D-B012-AAF999456261" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_854304407_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1569260411_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_300772288_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_525937667_WixComponent" Guid="3DBE4BCE-9AA4-47DB-A824-F486CA29D59F" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1433077782_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_245817074_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_832323242_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_529112429_WixComponent" Guid="8AA791F4-7239-4970-A981-819085D6B259" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_519106304_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_75822775_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_1040397039_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_584538243_WixComponent" Guid="E18FCCD4-0CFA-4BD4-B937-BC2034A4B3C9" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1731632672_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1009016509_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_365993724_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_2066164606_WixComponent" Guid="86A067B6-9391-44AA-A6E8-56B2DD6F8AB1" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_187101025_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_178316018_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_1211282347_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_1046710020_WixComponent" Guid="344A94AF-1F0C-4688-83EC-ABA1E9941AEB" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2120091054_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1025845939_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_797499068_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Release\_S_ServiceProjectName_S_\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_AutoMapper_dll_564442381_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_575271464_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_WcfIntegration_dll_1554798512_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_471130201_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1252333018_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1549771943_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net208_dll_731024739_WixComponent" />
      <ComponentRef Id="Id_GalaSoft_MvvmLight_dll_1171190995_WixComponent" />
      <ComponentRef Id="Id_GalaSoft_MvvmLight_Platform_dll_1628036608_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1717024236_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1811098922_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_441592283_WixComponent" />
      <ComponentRef Id="Id_System_Windows_Interactivity_dll_1166740027_WixComponent" />
      <ComponentRef Id="Id_Topshelf_dll_2027691958_WixComponent" />
      <ComponentRef Id="Id_Topshelf_Log4Net_dll_250963618_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_140273234_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_2099631389_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1517965261_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1861354313_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_829186854_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1207490935_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_1541112754_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_298267026_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_1051518209_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_1473123245_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_1642026364_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_2130851685_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_58099409_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_525937667_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_529112429_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_584538243_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_2066164606_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_1046710020_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>