<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_Castle_Core_dll_156006800_WixComponent" Guid="377E7297-675B-4EA8-BAE1-C69D9948F954" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1058284079_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_799710588_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_977437403_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Facilities_WcfIntegration_dll_1655522731_WixComponent" Guid="8F6654D9-AED8-4123-B063-8598706E3CD0" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2058242191_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_936741884_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Facilities_WcfIntegration_dll_929590619_WixFile" Name="Castle.Facilities.WcfIntegration.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Castle.Facilities.WcfIntegration.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_1002508974_WixComponent" Guid="3A5B29F1-7E84-4CEC-A9EF-D1DB286FEE6D" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1328059445_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_640859614_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_858131640_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_57651685_WixComponent" Guid="987F4FCB-0971-497F-A5C5-34BA46FE9A49" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1922910916_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_981942090_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_1570584092_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_1890101784_WixComponent" Guid="304627DB-E716-4C0A-A61E-7A213563F254" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1491967537_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1362520536_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_2127968862_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1213_dll_874743609_WixComponent" Guid="12F2AF31-BA34-46F7-B990-1E759F492D26" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2085269147_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1205460611_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1213_dll_437503412_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Common.Logging.Log4Net1213.dll" />
      </Component>
      <Component Id="Id_log4net_dll_934151970_WixComponent" Guid="F86B4FE1-F602-4BAD-8A3C-D868AA5B8745" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1596113792_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1773846429_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_87326594_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_2137426755_WixComponent" Guid="CA2EC36B-DB12-4D92-8FB9-93F52B1DE08B" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1770273262_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1952977296_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_1220554021_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_379851560_WixComponent" Guid="51BC203C-70C0-4674-959F-F64EA1907BF8" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_378055009_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1429750230_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_251488166_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_256689261_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_1089758602_WixComponent" Guid="8BD449AD-5B26-473E-9A63-E3B2867FBDF0" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1935057293_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_994670880_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_1967183176_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Facilities_Logging_dll_1267163080_WixComponent" Guid="CDDAF1FA-E11E-43D0-AB63-80232C6F39A5" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1006710311_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_909657174_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Facilities_Logging_dll_1097231265_WixFile" Name="Castle.Facilities.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Castle.Facilities.Logging.dll" />
        </Component>
        <Component Id="Id_Castle_Services_Logging_Log4netIntegrati_345979326_WixComponent" Guid="17A398CB-B24F-4170-98D4-645B9143478A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_929949088_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_690471242_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Services_Logging_Log4netIntegrati_1300854786_WixFile" Name="Castle.Services.Logging.Log4netIntegration.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Castle.Services.Logging.Log4netIntegration.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_410616340_WixComponent" Guid="6967E4C1-C784-476E-8C54-E7500B9435C4" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_491371671_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1264070642_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_1718508957_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_1688534573_WixComponent" Guid="3CB9BF16-B222-4A42-9475-E3E735879911" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_855053294_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_218221300_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_2000307115_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_pdb_362207176_WixComponent" Guid="41CEB67C-04D7-4A3B-ACF4-CADD04375A70" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_43285433_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_59408939_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_pdb_284395762_WixFile" Name="Common.Logging.Core.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Common.Logging.Core.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_dll_849415290_WixComponent" Guid="69AF8304-8930-45A9-85FE-CE0CF37E5A93" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_939647511_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1379719359_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_1522565796_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1210_dll_1567789240_WixComponent" Guid="B351C9C6-D13A-474A-A52D-ECDFE91C16CF" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_478280080_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1827080323_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1210_dll_493160686_WixFile" Name="Common.Logging.Log4Net1210.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Common.Logging.Log4Net1210.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1210_pdb_730453924_WixComponent" Guid="0D5A4D7A-E2C0-4789-BB16-307D02FF40D5" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1313894831_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_800343182_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1210_pdb_1704393891_WixFile" Name="Common.Logging.Log4Net1210.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Common.Logging.Log4Net1210.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_pdb_367849656_WixComponent" Guid="B0DFBD78-42A2-4BF1-A1C9-2FE830433B13" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_160785686_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1755064176_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_pdb_1078558836_WixFile" Name="Common.Logging.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Common.Logging.pdb" />
        </Component>
        <Component Id="Id_log4net_dll_295803437_WixComponent" Guid="20A99FB8-570A-416A-AC11-69E7CCCE1911" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1487755794_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_588172644_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_666164704_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_1083375187_WixComponent" Guid="2B0832F2-31A1-40CF-8C0C-6FA478831AC7" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_933955455_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1726810415_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_1278901591_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_688906654_WixComponent" Guid="B1034C17-CDAD-49C8-BE51-D1F567B25001" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1649528711_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_838800634_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_1670485362_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_1211528930_WixComponent" Guid="FB5B6952-C0C1-4A57-B549-694C7BB9036D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_398664698_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2041965732_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_1046473169_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_1875648354_WixComponent" Guid="395CCC2B-3617-43C6-989A-9B8CA15C25E9" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_710275118_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1117767886_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_327515569_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_1774474599_WixComponent" Guid="D533558E-6B55-4A8A-A5C0-B23FA67414B2" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1534575025_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1676925672_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_2015182893_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1250352412_WixComponent" Guid="6B5D63D0-F6B6-46EC-9AC8-48FFB45BBC2C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_197310556_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_570400862_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_1244205156_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_1838512136_WixComponent" Guid="CDF55AA4-42A7-4306-93E5-A576A222E2B1" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1707160398_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1350659301_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_1527748887_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_1247472765_WixComponent" Guid="25CE0961-9ED2-4C2F-9202-36343AB49F36" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1287146111_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1704503678_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_1021935029_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github\NCmdLiner.SolutionCreator\src\NCmdLiner.SolutionTemplates\Client Service Application\bin\Debug\_S_ServiceProjectName_S_\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_Castle_Core_dll_156006800_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_WcfIntegration_dll_1655522731_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1002508974_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_57651685_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1890101784_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_874743609_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_934151970_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_2137426755_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_379851560_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_1089758602_WixComponent" />
      <ComponentRef Id="Id_Castle_Facilities_Logging_dll_1267163080_WixComponent" />
      <ComponentRef Id="Id_Castle_Services_Logging_Log4netIntegrati_345979326_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_410616340_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1688534573_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_pdb_362207176_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_849415290_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_dll_1567789240_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1210_pdb_730453924_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_pdb_367849656_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_295803437_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_1083375187_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_688906654_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_1211528930_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_1875648354_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_1774474599_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1250352412_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_1838512136_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_1247472765_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>